body {
    width: 500px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    margin: 20px;
    font-size: 20px;
    color: blue;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}

button {
    margin: 0 auto;
    width: 80px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid lightblue;
    border-radius: 50px;
}
button:hover{
    background-color: lightblue;
    color: #fff;
    transition: all 0.1s ease-in;
}